<section class="py-5 mt-5">
    <div class="container py-4 py-xl-5">
        <div class="row gy-4 gy-md-0">
            <div class="col-md-6 col-xl-4 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                <div style="max-width: 350px;">
                    <h1 class="display-6 fw-bold mb-4">Aquí va el título</h1>
                    <p class="my-4">Aquí va el contenidoooooo adkjf kaj nfjkdasfn sdkj ndsjfksndfjk asdnf kjsdn sdkjf nsadjkf sndajkf sndf jkdsnf kjasdnf jksdfn dskjf nsajkfn asdjkf nsadjkf nsdajkfn sjkdafn jkdsfn sdakjf ndsajk</p><a class="btn btn-primary btn-lg" role="button" href="#">Descargar</a>
                </div>
            </div>
            <div class="col-md-6 col-xl-7">
                <div></div>
            </div>
        </div>
    </div>
</section>